<div>
	<h2>Language Converter is Collection of Multilingual.
	Currently there are following Google Language Converter are available. 
	</h2>
</div>

<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#google-language" role="tab" data-toggle="tab">Google Language Converter</a></li>
  <!-- <li><a href="#awesome" role="tab" data-toggle="tab">Awesome Slider</a></li> -->
  <!-- <li><a href="#water-wheel" role="tab" data-toggle="tab">Water Wheel  Slider</a></li> -->
  <!-- <li><a href="#thumbnail" role="tab" data-toggle="tab">Thumbnail Slider </a></li> -->
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="google-language">
  	<br>
   	<div>
		<h2><center>Google</center></h2>
		<h4>
   			The Google Language Converter Convert Your Current Website Content to Any Other Language, Google Language Converter Very effective and easy to use. It is client side component.
		</h4>
	</div>
	<div class="row" style="margin:auto 0 auto 0;">
		<div class="col-md-6 col-sm-6">
			<img src="epan-components/languageConverter/templates/images/googlelanguage.jpg" style="width:100%;max-width:100%;"class="img-thumbnail">
		</div>
		<div class="col-md-6 col-sm-6">
			
		<h4>Major features of Google Language Converter  :</h4>
		<h4><ul><li>user can easily Drag & Drop.</li>
				<li>user can change the basic properties like padding, margin, background, border etc. through component tool box.</li>
			</ul></h4>
		</div>
	</div>
	<br>
</div>